EXPO_PUBLIC_SCHOOL_ID=SCHOOL_ID_HERE
EXPO_PUBLIC_SCHOOL_CODE=SCHOOL_CODE_HERE
EXPO_PUBLIC_SCHOOL_NAME=SCHOOL_NAME_HERE
EXPO_PUBLIC_API_URL=BACKEND_URL_HERE
EXPO_PUBLIC_SUPABASE_URL=SUPABASE_URL_HERE
EXPO_PUBLIC_SUPABASE_ANON_KEY=SUPABASE_ANON_KEY_HERE
